.artilistwrapper {
  background-color: $background;
  // background-color: green;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.carousel {
  height: 267px;
  margin-top: 192px; //header 120px 포함
  margin-bottom: 5px;

  .react-multi-carousel-list {
    padding-left: 0;
  }

  .allviewbtn {
    cursor: pointer;
  }
}

.articlebox {
  margin-top: 80px;
  // border: 1px solid red;

  &-align {
    // margin-bottom: 20px;
    // border: 1px solid red;
    padding-bottom: 20px;
  }

  span {
    cursor: pointer;
    margin: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      font-weight: $bold;
    }
  }

  &-listbox {
    background-color: $white;
    border: 1px solid $border;
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    transition: all 0.5s;
    width: 100%;

    ul {
      width: 100%;
      height: 100%;
    }

    @include responsive(T) {
      height: 267px;
      margin-bottom: 36px;
      margin-right: 2.1%;
      width: 31.8%;

      &:nth-child(3n + 1) {
        margin-right: 0;
      }
    }

    @include responsive(D) {
      width: 23.6%;
      margin-right: 20px;

      &:nth-child(3n + 1) {
        margin-right: 20px;
      }

      &:nth-child(4n + 1) {
        margin-right: 0;
      }
    }

    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.plusbtn {
  height: 55px;
  margin-bottom: 300px; // footer 200px 포함
  position: relative;

  .commonbutton {
    @include pos-center-x;
  }
}
