.artilistwrapper {
  background-color: $background;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.carousel {
  height: 267px;
  margin-bottom: 5px;
  margin-top: 192px;

  @include mobile-only() {
    margin-top: 110px;
  }

  .react-multi-carousel-list {
    padding-left: 0;
  }

  h2 {
    color: $dark;
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;

    @include mobile-only() {
      margin-bottom: 8px;
    }
  }

  .allviewbtn {
    color: $border;
    cursor: pointer;
    float: right;
    font-weight: $bold;
    padding-right: 20px;
    padding-top: 10px;

    @include mobile-only() {
      float: left;
      padding-top: 5px;
    }

    &:hover {
      color: $yellow-dark;
      font-weight: $bold;
    }
  }
}

.articlebox {
  margin-top: 80px;

  &-align {
    padding-bottom: 20px;

    .setbold {
      font-weight: $bold;
    }
  }

  span {
    cursor: pointer;
    margin: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &-listbox {
    background-color: $white;
    border: 1px solid $border;
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    position: relative;
    transition: all 0.5s;
    width: 100%;

    ul {
      height: 100%;
      width: 100%;
    }

    @include responsive(T) {
      height: 267px;
      margin-bottom: 36px;
      margin-right: 2.1%;
      width: 31.8%;

      &:nth-child(3n + 1) {
        margin-right: 0;
      }
    }

    @include responsive(D) {
      margin-right: 20px;
      width: 23.6%;

      &:nth-child(3n + 1) {
        margin-right: 20px;
      }

      &:nth-child(4n + 1) {
        margin-right: 0;
      }
    }

    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &-date {
    @include text-style(13, $dark);
    margin-bottom: 4px;
  }

  &-title {
    @include text-style(24, $dark);
    font-weight: $bold;
    margin-bottom: 12px;

    @include mobile-only() {
      @include text-style(18, $dark);
    }
  }

  &-content {
    @include text-style(14, $dark);
    margin-bottom: 45px;

    @include mobile-only() {
      margin-bottom: 24px;
    }
  }

  &-keyword {
    @include text-style(13, $dark);
    border: 1px solid $dark;
    border-radius: 20px;
    font-weight: $bold;
    padding: 0 12px 2px 12px;
  }

  &-hit {
    @include text-style-24;
    bottom: 20px;
    color: rgba(25, 26, 32, 0.15);
    margin: 0;
    position: absolute;
    right: 24px;
    margin: 0 !important;

    @include mobile-only() {
      bottom: 12px;
    }

    img {
      height: 16px;
      margin-right: 5px;
      opacity: 0.15;
      width: auto;
    }

    span {
      margin: 0 !important;
      margin-bottom: 3px;
    }
  }
}

.plusbtn {
  height: 55px;
  margin-bottom: 300px;
  position: relative;

  @include mobile-only() {
    margin-bottom: 250px;
  }

  .commonbutton {
    @include pos-center-x;
  }
}

.ell-24 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: $line-height-24 * 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ell-18 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: $line-height-18;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ell-12 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: $line-height-12 * 3;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.selectionbox {
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  height: 60px;
  position: relative;

  @include mobile-only() {
    height: 160px;
  }

  .articlebox-select {
    @extend %form-base;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.64645 4.14645C2.84171 3.95118 3.15829 3.95118 3.35355 4.14645L6 6.79289L8.64645 4.14645C8.84171 3.95118 9.15829 3.95118 9.35355 4.14645C9.54882 4.34171 9.54882 4.65829 9.35355 4.85355L6.35355 7.85355C6.15829 8.04882 5.84171 8.04882 5.64645 7.85355L2.64645 4.85355C2.45118 4.65829 2.45118 4.34171 2.64645 4.14645Z' fill='%23b2b3b9'/%3E%3C/svg%3E%0A")
    no-repeat 97% 50%;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 16px;
    height: 36px;
    left: 0;
    padding: 0;
    padding-left: 10px;
    position: absolute;
    text-indent: 1.2em;
    top: 10px;
    width: 100%;

    option {
      color: $dark;
    }

    @include responsive(T) {
      width: 18%;
    }
  
    @include responsive(D) {
      width: 180px;
    }
  }

  input {
    @extend %form-base;
    border: 1px solid $border;
    border-radius: 16px;
    height: 36px;
    left: 0;
    padding: 0;
    position: absolute;
    text-indent: 1.2em;
    top: 60px;
    width: 100%;

    @include responsive(T) {
      left: 20%;
      top: 10px;
      width: 41%;
    }
  
    @include responsive(D) {
      left: 195px;
      width: 640px;
    }
  }

  img {
    height: 30px;
    position: absolute;
    right: 5px;
    top: 77px;
    transform: translateY(-50%);
    width: auto;

    @include responsive(T) {
      left: 55%;
      top: 30px;
    }
  
    @include responsive(D) {
      left: 790px;
    }
  }

  .ordergroup {
    color: $secondary;
    left: 0;
    position: absolute;
    text-align: left;
    top: 100px;

    @include responsive(T) {
      left: 60%;
      margin-right: 0;
      text-align: center;
      top: 0;
      width: 20%;
    }
  
    @include responsive(D) {
      left: 840px;
      text-align: left;
    }

    .first {
      @include responsive(T) {
        margin-right: 15px;
      }
    
      @include responsive(D) {
        margin-right: 20px;
      }
    } 

    .second {
      margin-right: 0;

      @include responsive(T) {
        margin-left: 15px;
      }
    
      @include responsive(D) {
        margin-left: 20px;
      }
    }
  }

  .initialbtn {
    border: 1px solid $border;
    border-radius: 16px;
    color: $secondary;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: 90px;
    width: 100px;

    @include responsive(T) {
      left: 82%;
      top: -8px;
      width: 15%;
    }
  
    @include responsive(D) {
      left: 1000px;
      width: 100px;
    }

    &:hover {
      background-color: $border;
    }
  }
}

.noissue {
  @include text-style(16, $primary);
  cursor: default;
  padding-left: 8px;
}