<html>
	<body>
		<div style="font-size: 30px; font-weight: bold;">DEVzine:Port</div>
		<div>
			<div>
				서비스 이용약관
				<br>
				<%= temp_email %> 수락하쇼
			</div>
			<a href="">accept signup</a>
			<p style="color:gray">30분 후 만료됨</p>
		</div>
	</body>
</html>
