.visualcontainer {
  background-color: $background;
  min-height: 100vh;
  position: relative;

  &-footer {
    height: 100px;
    margin-bottom: 220px;
  }

  .container {
    .row {
      .visualwrapper {
        position: relative;
        z-index: 1;
        margin-top: 206px;
        margin-bottom: 306px;

        .chartcontainer{
          @include column-flexbox;
          @include responsive(D){
            @include flexbox;
            flex-direction: row;
          }
          // @include mobile-only() {
          //   flex-direction: column;
          // }
            .chartdesc{
              margin: 0 20px;
              width: 360px;
              height: 150px;
              .chartsubject{
                font-weight: $bold;
                @include text-style(36, $dark);
                margin-bottom: 20px;
              }
              .chartdetail{
                font-weight: normal;
                @include text-style(18, $dark);
              }
            } 
           .chartwrapper {
            @include flexbox;
            background-color: $white;
            position: relative;
            border: 1px solid $border;
            border-radius: 24px;
          }
        }
      }
    }
  }
}
