.modalcontainer {
  position:fixed;
  height: 15rem;
  margin: 120px auto;
  text-align: center;
  z-index: 720;

  .modalbackdrop {
    @include flexbox;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;

    .modalview {
      background-color: $white;
      border-radius: 20px;
      height: 241px;
      position: relative;
      width: 360px;

      @include mobile-only() {
        // margin-top: 162px;
        max-width: 360px;
        width: 92.5%;
        height: 200px;
      }
    }
  }

  .desc {
    @include pos-center;
    @include text-style(18, $dark);
    font-weight: $bold;
    width: 90%;

    .closebtn {
      background-color: $border;
      border-radius: 8px;
      color: $dark;
      cursor: pointer;
      font-size: 18px;
      font-weight: $bold;
      height: 55px;
      margin-top: 16px;
      width: 265px;

      @include mobile-only() {
        max-width: 265px;
        width: 90%;
      }
    }
  }
}

.alermodalbox {
  height: 0;
  width: 0;
  // display: none;
}
