.modalbackdrop {
  background-color: rgba(0, 0, 0, 0.4);
  place-items: center;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
}

.modalcontainer {
  height: 15rem;
  margin: 120px auto;
  text-align: center;
}

.modalview {
  width: 360px;
  height: 241px;
  background-color: WHITE;
  border-radius: 20px;
  position: relative;

  .desc {
    color: #191a20;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.closebtn {
  color: #191a20;
  background-color: #d9d9d9;
  width: 265px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 16px;
  font-weight: bold;
  border-radius: 8px;
}

.alermodalbox {
  border: 1px solid red;
  width: 0px;
  height: 0px;
}
