.ModalBackdrop {
  background-color: rgba(0, 0, 0, 0.4);
  place-items: center;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
}

.ModalContainer {
  height: 15rem;
  margin: 120px auto;
  text-align: center;
}

.ModalBtn {
  background-color: #4000c7;
  padding: 20px;
  color: WHITE;
  cursor: grab;
  text-decoration: none;
  border-radius: 30px;
  border: none;
}

.ModalView {
  width: 360px;
  height: 241px;
  background-color: WHITE;
  border-radius: 10px;
  position: relative;

  .desc {
    color: #191a20;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.closeBtn {
  color: #191a20;
  background-color: #e0e2e7;
  width: 296px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 16px;
}
