.optcontentswrapper {
  padding: 2px;
  margin-top: 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  .radiowrapper {
    margin-top: 0px;
  }

  .contributionstatuscontainer {
    margin: 24px 0;
    width: 100%;
    height: auto;
    min-height: 115px;
    .subject {
      display: flex;
      .subjectwrapper {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        width: 95.89px;
        margin-bottom: 8px;
        color: #191a20;
      }
      .btndesc {
        width: 254.11px;
        @include text-style-12;
        font-weight: $lighter;
        @include flexbox;
        margin-bottom: 8px;
        @include mobile-only() {
          display: none;
        }
      }
    }
    .contributionstatustable {
      width: 100%;
      overflow: hidden;
      height: auto;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      @include mobile-only() {
        max-width: 320px;
        width:100%;
      }
      .contributionstatuslist {
        width: 360px;
        height: auto;
        background: #ffffff;
        display: flex;

        .tableheader {
          @include flexbox;
          width: 20%;
          height: 40px;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;

          @include mobile-only() {
            width: 10%;
          }

          .updatebtn {
            width: 20px;
            height: 20px;
          }
          .deletebtn {
            width: 20px;
            height: 20px;
          }
        }
        .tableheader.first {
          padding-left: 8px;
          width: 40%;
          justify-content: flex-start;

          @include mobile-only() {
            width:54%;
          }
        }
        .tableheader.last {
          border-right: 0px solid;
          width: 20%;

          @include mobile-only() {
            width: 15%;
          }
         
        }
        .tablecontent {
          @include flexbox;
          width: 20%;
          height: 30px;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          font-weight: normal;

          @include mobile-only() {
            width: 10%;
          }

          @include text-style(14, $dark);
          .updatebtn {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          .deletebtn {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
        .tablecontent.first {
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          display: -webkit-box;
          // height: $line-height-13;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 8px;
          width: 40%;
          justify-content: flex-start;

          @include mobile-only() {           
            width:54%;
          }
        }
        .tablecontent.last {
          border-right: 0px solid;
          @include column-flexbox; 
          font-size: 10px;
          line-height: 14px;
          width: 20%;

          @include mobile-only() {
            width: 15%;
          }

          a {
            width: 40px;
            height: 15px;
            background: #c4c4c4;
            @include flexbox;
            @include mobile-only() {
              width: 35px;
              height: 13px;
            }
          }
        }
      }
    }
    .contributionstatustable > li:last-child {
      .tablecontent {
        border-bottom: 0px solid;
      }
    }
  }
}
