.optcontentswrapper {
  .radiowrapper {
    margin-top: 0px;
  }

  .contributionstatuscontainer {
    margin: 24px 0;
    width: 360px;
    height: auto;
    min-height: 115px;
    .subject {
      display: flex;
      .subjectwrapper {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        width: 95.89px;
        margin-bottom: 8px;
        color: #191a20;
      }
      .btndesc {
        width: 254.11px;
        @include text-style-12;
        font-weight: $lighter;
        @include flexbox;
        margin-bottom: 8px;
      }
    }
    .contributionstatustable {
      width: 360px;
      overflow: hidden;
      height: auto;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      .contributionstatuslist {
        width: 360px;
        height: auto;
        background: #ffffff;
        display: flex;
        .tableheader {
          padding-top: 8px;
          padding-left: 16px;
          width: 60px;
          height: 40px;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;

          .updatebtn {
            width: 20px;
            height: 20px;
          }
          .deletebtn {
            width: 20px;
            height: 20px;
          }
        }
        .tableheader.first {
          width: 180px;
        }
        .tableheader.last {
          border-right: 0px solid;
          padding-top: 8px;
          padding-left: 16px;
        }
        .tablecontent {
          padding-top: 8px;
          padding-left: 16px;
          width: 60px;
          height: 40px;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #191a20;

          .updatebtn {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          .deletebtn {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
        .tablecontent.first {
          width: 180px;
        }
        .tablecontent.last {
          border-right: 0px solid;
          padding: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          line-height: 14px;

          a {
            width: 40px;
            height: 15px;
            background: #c4c4c4;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .contributionstatustable > li:last-child {
      .tablecontent {
        border-bottom: 0px solid;
      }
    }
  }
}
