.headerfix {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.headertime {
  background-color: BLACK;
  color: YELLOW;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;

  .timer {
    font-weight: 900;
    margin-left: 5px;
  }
}
.headernavwrapper {
  width: 100%;
  background-color: WHITE;
}
.headernav {
  border-bottom: 1px solid #f2f2f2;
  height: 70px;
  line-height: 70px;
  width: 98%;
  margin: 0 auto;
  position: relative;

  @include responsive(D) {
    width: 1120px;
  }

  .headerlogo {
    cursor: pointer;
    padding-top: 22px;
  }

  .leftbox {
    width: 449.5px;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    span {
      margin: 20px;
      cursor: pointer;
    }
  }

  .headermenu {
    height: 70px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .headerbutton {
    color: WHITE;
    width: 110px;
    height: 40px;
    background-color: #191a20;
    border-radius: 6px;
    font-weight: 700;
  }
}
