@keyframes slide {
  from { right: -50%;}
  to {  right: 0;}
}

@keyframes outslide {
  from { right: 0;}
  to {  right: -50%;}
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;


  &-nav-open {
    background-color: $white;
    height: 100vh;
    min-width: 200px;
    padding-left: 15px;
    padding-top: 35px;
    position: absolute;
    right: 0;
    width: 50%;
    animation: slide 1s;
    transition: 1s ease;

    .closebtn {
      cursor: pointer;
      position: fixed;
      right: 10px;
      top: 10px;
    }

    li {
      cursor: pointer;
      font-weight: $bold;

      &:first-child {
        border-bottom: 1px solid $border;
      }
    }

    .usename {
      cursor: none;
      line-height: 28px;
      padding-bottom: 12px;
      padding-top: 4px;
    }

    .signout {
      border-top: 1px solid $border;
      color: $border;
    }
  }

  &-nav-close {
    background-color: $white;
    height: 100vh;
    min-width: 200px;
    padding-left: 15px;
    padding-top: 35px;
    position: absolute;
    right: 0;
    width: 50%;
    animation: outslide 1s;
    transition: 1s ease;

    .closebtn {
      display: none;
      cursor: pointer;
      position: fixed;
      right: 10px;
      top: 10px;
    }

    li {
      cursor: pointer;
      font-weight: $bold;

      &:first-child {
        border-bottom: 1px solid $border;
      }
    }

    .usename {
      cursor: none;
      line-height: 28px;
      padding-bottom: 12px;
      padding-top: 4px;
    }

    .signout {
      border-top: 1px solid $border;
      color: $border;
    }
  }

 
}
