.signincontainer {
  z-index: 700;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(63, 65, 80, 0.5);
  @include flexbox;

  .signinwrapper {
    z-index: 710;
    position: relative;
    width: 550px;
    height: 566px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(63, 65, 80, 0.3);
    border-radius: 24px;
    @include column-flexbox;

    @include mobile-only {
      border-radius: 0;
      width: 100vw;
      height: 100vh;
    }
    .signinheader {
      position: absolute;
      width: 100%;
      height: 69px;
      left: 0;
      top: 0;
      @include flexbox;
      font-weight: 800;
      @include text-style(24, $dark)
    }

    .backbtn {
      width: 39px;
      height: 39px;
      position: absolute;
      top: 10px;
      right: 14px;
      cursor: pointer;
    }

    .blank {
      margin-top: 24px;
    }

    .leadsignup {
      z-index: 710;
      width: 296px;
      height: 24px;
      font-weight: bold;
      @include text-style(16, $dark);
      margin-top: 48px;
      margin-bottom: 16px;
      @include flexbox;
    }

    .commonbutton {
      z-index: 710;
      width: 296px;
    }

    .passwordbtn {
      @include text-style(16, $tertiary);
      font-weight: $bold;
      margin-top: 16px;
      text-align: center;

      span {
        margin-top: 8px;
        text-decoration: underline;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}
