.accordioncontainer {
  padding: 2px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background: $white;
  border: 1px solid $border;
  border-radius: 8px;
  @include mobile-only() {
    padding: 0;
    max-width: 360px;
    width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: bold;
    @include text-style(16,$dark);
    @include mobile-only() {
      margin-left: 8px;
    }

    .btn {
      right: 8px;
      @include text-style-14;
      position: absolute;
      cursor: pointer;
    }
  }

  .contentswrapper {
    width: 100%;
  }
}
