.radiowrapper {
  margin: 0 auto;
  display: flex;
  margin-top: 24px;
  @include mobile-only() {
    max-width: 360px;
    width: 95%;
  }

  .subjectwrapper {
    min-width: 32px;
    margin-right: 64px;
    font-weight: bold;
    color: #191a20;
    @include mobile-only() {
      margin-right: 20px;
    }
  }

  .radiocontents {
    width: 263px;
    display: flex;
    .radiocontent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 26px;
      @include mobile-only() {
        margin-right: 6px;
      }
      .radioinput {
        margin-right: 6px;
      }
      .radioinput:checked + label {
        font-weight: bold;
        color: #191a20;
      }
      .radiorabel {
        margin: 0;
        font-weight: bold;
        color: #9b9b9c;
      }
    }
  }
}
