.singleselectwrapper,
.multiselectwrapper {
  .singleselectcontents,
  .multiselectcontents {
    .singleselectcontent,
    .multiselectcontent {
      width: 100%;
      height: 36px;
      margin-top: 24px;
      display: flex;

      // justify-content: space-between;
      align-items: center;

      .subjectwrapper {
        min-width: 32px;
        margin-right: 64px;
        font-weight: bold;
        color: #191a20;
        @include mobile-only() {
          margin-right: 20px;
        }
      }
      .basicsingle,
      .basicmulti {
        width: 254.97px;
      }
    }
  }
}
