.signupcontainer {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  height: auto;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 220px;

  .signupwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 72px 0;

    .signupbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 264px;
      height: 54px;
      background: #191a20;
      border-radius: 8px;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      cursor: pointer;
      margin-left: 48px;
    }

    .commonbutton {
      font-weight: $normal;
      margin-left: 48px;
      margin-top: 24px;
    }
  }
}
