.admin {
  background-color: $yellow;
  min-height: 100vh;
  position: relative;
  width: 100%;

  &-footer {
    height: 100px;
    margin-bottom: 220px; // footer 220px 포함
    position: relative;
  }
}

.request {
  margin-top: 192px; //header 120px 포함
}

.approval {
  margin-top: 60px; //header 120px 포함

  &-title {
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
  margin-top: 12px;
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid $dark;
  height: 20px;
  background-color: $white;
}

th {
  &:first-child {
    width: 150px;
  }

  &:nth-child(3) {
    width: 80px;
  }

  &:nth-child(4) {
    width: 250px;
  }
}

td {
  &:nth-child(4) {
    width: 250px;
  }
}

.adminform {
  &-check {
    display: inline-block;
    margin-left: 16px;

    &-label {
      display: inline-block;
      margin-left: 8px;
      margin-top: 8px;
    }
  }

  &-btn {
    @include text-style(16, $dark);
    background-color: $border;
    height: 30px;
    margin-left: 16px;
    width: 70px;

    .checked {
      background-color: $green;
    }
  }
}
