.container {
  color: BLACK;
  padding-bottom: 84px;
  padding-top: 120px;

  @include responsive(T) {
    margin-bottom: 64px;
  }

  @include responsive(D) {
    margin-bottom: 22px;
  }
}

.landingbackground {
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 315px;
  margin-bottom: 36px;
  overflow: hidden;
  position: relative;

  @include responsive(T) {
    margin-bottom: 56px;
  }

  @include responsive(D) {
    margin-bottom: 98px;
  }

  img {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.landingcontent {
  margin-bottom: 30px;
  text-align: center;

  @include responsive(T) {
    text-align: left;
    align-items: center;
    margin-top: 88px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 20px;

    @include responsive(D) {
      font-size: 36px;
    }
  }

  p {
    color: #3f4150;
    font-size: 18px;
  }
}

.withuscontainer {
  background-color: #191a20;
  color: WHITE;
  height: 500px;
  padding-top: 105px;
  text-align: center;
  width: 100vw;
  font-size: 24px;
  font-weight: 500;

  h2 {
    font-size: 60px;
    margin-bottom: 16px;
    color: WHITE;
  }

  p {
    margin-top: 50px;
    color: WHITE;
  }
}

.landingbottombtn {
  display: block;
  height: 55px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 550px;

  div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
