.container {
  color: BLACK;
  padding-bottom: 84px;
  padding-top: 240px; //header 포함

  @include responsive(T) {
    margin-bottom: 64px;
  }

  @include responsive(D) {
    margin-bottom: 22px;
  }
}

.landingbackground {
  background-color: GREEN;
  border-radius: 20px;
  height: 315px;
  margin-bottom: 36px;
  overflow: hidden;
  position: relative;

  @include responsive(T) {
    margin-bottom: 56px;
  }

  @include responsive(D) {
    margin-bottom: 98px;
  }

  img {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.landingcontent {
  margin-bottom: 30px;
  text-align: center;

  @include responsive(T) {
    margin-bottom: 0;
    text-align: left;
  }

  @include responsive(D) {
    margin-bottom: 0;
    text-align: left;
  }
}

.withuscontainer {
  background-color: BLACK;
  color: WHITE;
  height: 502px;
  padding: 120px;
  text-align: center;
  width: 100vw;
}

.landingbottombtn {
  display: block;
  height: 55px;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
  width: 550px;

  div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
