.landinginteractioncontainer {
  @include flexbox;
  background: $dark;
  height: 700px;
  margin-top: 120px;
  position: fixed;
  width: 100%;

  @include mobile-only() {
    height: 400px;
    margin-top: 90px;
  }

  .textwrapper {
    display: flex;
    flex-direction: column;
    height: 166px;
    left: 0;
    position: absolute;
    top: 103px;
    width: 100%;

    @include mobile-only() {
      top: 53px;
    }

    .description {
      @include flexbox;
      color: $white;
      font-size: 24px;
      font-weight: bold;
      height: 26px;
      text-align: center;

      @include mobile-only() {
        @include text-style(14, $white);
      }
    }

    .subject {
      @include flexbox;
      color: $white;
      font-size: 80px;
      font-weight: $bold;
      height: 75px;
      margin-top: 12px;

      @include mobile-only() {
        font-size: 40px;
        margin-top: 0;
      }
    }
  }
}
