.loadingwrapper {
  background-color: #fff;
  opacity: 90%;
  place-items: center;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.loadingbox {
  box-shadow: 0px 0px 100px #fff;
  z-index: 9000;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 85px;
  border-radius: 24px;
  background: linear-gradient(-45deg, #ffe33e, #ff9411, #ffe33e);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
