<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body style="font-family:sans-serif;">
		<header>
			<div style="height:50px; width:100%; background-color:#191a20; text-align:center; ">
				<h1 style="font-size: 24px; font-weight: bold; color:#ffdd14; line-height:50px;" >
					DEVzine
				</h1>
			</div>
		</header>
		<section style="background-color:#f2f2f2; padding:30px;">
			<div>
				<div style="text-align: center;">
					<h2>
						안녕하세요,
						<br>
						<%= user_email %>님
						<br>
						DEVzine입니다.
					</h2>
					<br>
					<p style="text-align: center;">회원님의 계정 비밀번호 변경 요청이 접수됐습니다. 직접 요청하신 게 맞다면, 아래 코드를 입력한 후 변경을 확인해주세요. 전송된 코드는 10분 후에 만료됩니다.</p>
				</div>
				<p style="text-align: center;"><%= authcode %></p>
			</div>
		</section>
		<footer style="font-size:14px; padding:20px; background-color:#191a20; color:#999; text-align:center;">
			<span style="color:#ffdd14; font-size:30px; font-weight:bolder">D</span>
			<p>Copyright &copy; 200ok. All rights  reserved.</p>
			<p style="font-size:12px;">본 메일은 발신전용입니다.<br/>문의사항이 있으시다면 DEVzine:port Github를 확인해주세요.</p>
		</footer>
	</body>
</html>
