// black : 잘 사용하지 않음
// dark : 기본적으로 제목과 같이 강조되는 글자에 사용 ex) 로고, 제목, 검은 배경, 버튼
// primary : 본문 내용과 같이 글자에 사용 ex) 기사 본문, 설명글
// secondary : 본문 내용보다 덜 중요하며 부가적인 설명 글 ex) 구독 발송일, inputplaceholder
// tertiary : 안 읽어도 되지만 부가적인 설명 ex) 조회수, 게시날짜, 회사정보
// border : 테두리 ex) input border
// background : 연 회색 백그라운드에 사용
// white : 흰 백그라운드 및 흰 글자에 사용

// yellow : key color로 대부분의 노란색을 사용 ex) 버튼, 검은색 배경 위 노란 글씨
// yellow-dark : 연 회색, 흰 백그라운드에 사용되는 노란색 글자 ex) (필수)
// yellow-light : Article List 추천글(기고글) 배경

// red : 주의사항 글이나 거절 ex) 필수 조건, 반려
// green : 통과된 기고글 ex) 승인

$black: #000;
$dark: #191a20;
$primary: #535353;
$secondary: #999;
$tertiary: #b2b3b9;
$border: #d9d9d9;
$background: #f2f2f2;
$white: #fff;

$yellow: #ffdd14;
$yellow-dark: #ffc803;
$yellow-light: #ffe33e;

$red: #f43808;
$green: #1ebf1e;
